@import '../../../shared/style/sizes';
@import '../../../shared/mixins/typography';

.details-container {
  margin: $baseline-6 0;

  .image-details {
    display: flex;
    justify-content: center;
    padding: $baseline-3 0;

    .image {
      height: 420px;
      display: block;
      cursor: pointer;
    }

    .info {
      text-align: center;
      padding: $baseline-3 0;
    }
  }

  .button {
    @include typo-display-1;
    padding: $baseline - 2 $baseline-3;
    border: 2px solid;
    border: 2px solid;
    border-color: black;
    cursor: pointer;

    &--white {
      background-color: white;
      color: black;
    }

    &--black {
      background-color: black;
      color: white;
    }
  }

  .button--white:hover,
  .button--white:focus {
    background-color: black;
    color: white;
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: $baseline-2;
  }

  h5, h2 {
    margin-top: $baseline;
    margin-bottom: $baseline;
  }
}


