<div class="details-container" *ngIf="image | async as imageData">
  <div class="actions">
    <button class="button button--white" role="button" (click)="openDialog()">ADD TO ALBUM +</button>
    <button class="button button--black" role="button">DOWNLOAD</button>
  </div>

  <div class="image-details">
    <div class="details">
      <img class="image" src="{{imageData.download_url}}" alt="{{imageData.author}}">
      <div class="info">
        <h5>UPLOADED BY</h5>
        <h2>{{imageData.author}}</h2>
      </div>
      <div class="actions">
        <button class="button button--white" role="button" (click)="  navigateBack()">GO BACK</button>
      </div>

    </div>
  </div>


</div>
