@import '../../style/sizes';

.header {
  display: flex;
  padding: $baseline $baseline-3;
  background: black;
  color: white;
  font-size: 28px;
  font-weight: 500;

  .title {
    // justify-content: center;
    // margin-left:auto;
  }

  .button {
    margin-left:auto;
  }
}

.body {
  font-family: sans-serif;
  margin: 0;
}
