// Baseline
$baseline: 8px !default;

// Spaces
$baseline-2: 2 * $baseline !default; // 16px
$baseline-3: 3 * $baseline !default; // 24px
$baseline-4: 4 * $baseline !default; // 32px
$baseline-5: 5 * $baseline !default; // 40px
$baseline-6: 6 * $baseline !default; // 48px
