@import '../../../shared/style/sizes';
@import '../../../shared/mixins/typography';

.dashboard {
  align-items: center;
  display: flex;
  gap: $baseline-4;
  flex-wrap: wrap;
  margin: $baseline-4 200px;
  justify-content: center;

  .image {
    display: block;
    height: 400px;
    width: 400px;
    cursor: pointer;
  }

  .overlay {
    position: absolute;
    top: 84%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 16%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }

  .image-container {
    position: relative;
  }

  .image-container:hover .overlay {
    opacity: 1;
  }

  .text {
    @include typo-display-1;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
  }

}
* {
    box-sizing: border-box;
  }
