@import '../shared/style/sizes';
@import '../shared/mixins/typography';


.home-container {
  padding-top: 300px;
  display: flex;
  justify-content: center;
}

.button {
  @include typo-display-1;
  background-color: black;
  color: white;
  padding: $baseline $baseline-4;
  border: 2px solid;
  cursor: pointer;
}
